<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7030a7d5aa.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
  </head>
  <body>
      <div class='navBar'>
          <% if(user) { %>
            <p>Hello, <%= user.name %> </p>
            <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
          <% } else { %>
            <p>breadCrumbs.io</p>
            <a href="/auth/google"><i class="fas fa-sign-in-alt"></i></a>
          <% } %> 
      </div>
