<%- include('../partials/header') %>
    <div class='search-container'>
        
        <h3 id='sub-title'>I want to</h3>

        <form action="">
            <select name="pets" id="action-dropdown">
                <option disabled selected value=""></option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>

            <h3 id='sub-title'>a(n)</h3>

            <select name="pets" id="item-dropdown">
                <option disabled selected value=""></option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <br>
            <button class='go-button' type="submit">Go</button>
        </form>
    </div>


<%- include('../partials/footer') %>