    <%- include('../partials/header') %>
    <% guide.forEach(el => { %>
        <h3 id="guide-title"><%= el.title %></h3>
        <div class="card-container">
            <div class="card" style="width: 90%;">
                <div class="card-body">
                    <h5 class="card-title"><%= el.title %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <img hidden src="..." class="card-img-top" alt="...">
                <pre><code class="language-javascript">
function test(a) {
    console.log('test');
}
                </code></pre>
            </div>
        </div>
    <% }) %> 

    <%- include('../partials/footer') %>