<%- include('partials/header') %>
  <div class='content'>
    <h1 id='home-page-title'>Welcome!</h1>
    <p class='app-intro'>BreadCrumbs is an app to help you 
      build your node applications using
      the <a href="">MVC model.</a></p>
    <ul class="right">
      <li>
      <% if (user) { %>
        <a href="/auth/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
      </li>
    </ul>
    <ul>Registered Users:
      <% users.forEach(u => { %>
        <li><%= u.name %></li>
      <% }) %>
    </ul>
  </div>
    <%- include('partials/footer') %>