<%- include('partials/header') %>
  <div class='home-content'>
    <h1 id='title'>Welcome!</h1>
    <p class='app-intro'>breadCrumbs.io is an app to help you 
      build your node applications using
      the <a id='mvc-toggle-btn'>MVC model.</a></p>
      <div hidden id="mvc-model-container">
        <img id='mvc-model' src="/images/mvc-by-David-Stinson.png" alt="MVC Model Diagram">
        <p id='photo-credit'>Photo Credit: <a href="https://www.linkedin.com/in/david-stinson/" target="_blank">David Stinson <i class="fa fa-linkedin-square"></i></a></p>
      </div>
      <p class='app-intro'>It will guide you through the main
        steps of setting up your Node app
        using Express, ejs, MongoDB Atlas,
        mongoose, dotenv and Google oAuth.
      </p>
        <p class='app-intro'>Before using the guides, remember to prepare 
          your wireframes and ERDs whether on 
          <a href="https://whimsical.com/" target='_blank'>Whimsical</a> or another software
          of your preference.
        </p>
        <p class='app-intro'>Once you have your ERDs think about the routes you will need and plan them accordingly using the 
          RESTful Routes to CRUD <a id='routes-toggle-btn'>Mapping table.</a>
        </p>
        <div hidden id="routes-table-container">
          <img id='routes-table' src="/images/routes-table-by-Jim-Clark.png" alt="Routes Table">
          <p id='photo-credit'>Photo Credit: <a href="https://www.linkedin.com/in/jimclarkfullstack" target="_blank">Jim Clark <i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <% if(!user) { %>
          <a href="/auth/google"><p class='app-intro'>Log in with Google to start finding breab crumbs!</p></a>
        <% } %>
  </div>
  <script src='javascripts/mvc-toggle-button.js'></script>
    <%- include('partials/footer') %>