html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: #beedef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.navBar {
  margin: 0;
  padding: 1em 1.5em;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0 lightslategray;
  }

  .navBar p {
    margin: 0;
    display: inline;
  }

  .fa-sign-in-alt {
    font-size: 2em;
    color: black;
  }
  
  .fa-sign-out-alt {
    font-size: 2em;
    color: black;
}

.home-content {
  padding: 7vmin 7vmin 5vmin 5vmin ;
  }

  #title {
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
  }

  #mvc-toggle-btn, #routes-toggle-btn{
    color: #00B7FF;
    text-decoration: underline;
  }

  #mvc-model-container, #routes-table-container{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 0 0 20px 20px;
    padding: 2vmin;
    max-width: 900px;
    }

    #mvc-model, #routes-table {
      width: 100%;
      max-width: 800px;
    }

    #photo-credit {
      margin-top: 1em;
      font-size: 0.75em;
  }

  .app-intro {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
  }

  a {
    color: #00B7FF;
    text-decoration: underline;
  }

  a:hover{
    cursor: pointer;
}

.main-container {
  text-align: center;
  margin: 5vmin 5vmin 3vmin 5vmin;
  background-color: whitesmoke;
  border-radius: 50px;
  padding: 5vmin 15vmin 5vmin 15vmin;
  }

  #sub-title {
    font-size: 2em;
    font-family: 'Righteous', cursive;
  }

  select {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: whitesmoke;
    width: 100%;
    max-width: 400px;
    height: 2em;
    margin-bottom: 2em;
    height: 2.5em;
  }

  .main-btn {
    font-family: 'Righteous', cursive;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #333;
    padding: 0.5em 1.8em;
  }

  a.main-btn {
    font-size: 1.4em;
    text-decoration: none;
    box-shadow: inset 2px 2px rgba(255,255,255,0.4), inset -2px -2px rgba(0,0,0,0.6);
  }

  .go-button:hover {
      filter: brightness(150%)
  }
  .go-button {
    margin-bottom: 0.8em;
    transform: translate(0, 0.3em)
}

#add-guide-container {
  margin-top: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
    padding: 5vmin;
  }

  .new-guide-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .inner-form-container {
    margin: 2vmin;
    }

  .primary-input {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: whitesmoke;
    width: 100%;
    max-width: 400px;
    height: 2.5em;
    margin-bottom: 2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
  }

  #form-buttons-container {
    margin: 5vmin 0 2vmin 0;

}

#guide-title {
  display: inline-block;
  font-size: 2em;
  font-family: 'Righteous', cursive;
  margin: 5vmin 5vmin 2vmin 0;
}

.card-container {
  display: flex;
  justify-content: center;
  }

  .card {
    margin: 5vmin 5vmin 3vmin 5vmin;
    background-color: white;
    border-radius: 25px;
    max-width: 1000px;
    overflow: hidden;
  }

  .card-body {
    border: 0.4em solid #f5f2f0;
    border-radius: 25px 25px 0 0;
  }

  .card-buttons {
    text-align: right;
  }
  .card-buttons form {
    display: inline;
  }

  .secondary-btn {
    font-family: 'Righteous', cursive;
    cursor: pointer;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #333;
    padding: 0.5em 1.8em;
    text-decoration: none;
    box-shadow: inset 2px 2px rgba(255,255,255,0.4), inset -2px -2px rgba(0,0,0,0.6);
  }

  .card pre[class*=language-] {
    padding: 0.5em 1em;
    margin-bottom: 0;
    margin-top: 0;
}

#add-step-container {
  margin-top: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-btn {
  font-size: 2em;
  font-family: 'Righteous', cursive;
  margin: 5vmin 0 5vmin 0;
  padding: 5vmin 3vmin 5vmin 5vmin;
  display: inline;
}

#back-btn a{
  color: black;
  text-decoration: none;
}

#step-form-container {
  margin: 5vmin;
}

.comments-section {
  display: flex;
  justify-content: center;
}

.comments-container {
  width: 100%;
  margin: 5vmin 5vmin 3vmin 5vmin;
  background-color: whitesmoke;
  border-radius: 50px;
  padding: calc(0.7em + 20px) calc(0.4em + 20px);
  max-width: 1000px;
  }

  .comments-container textarea {
    width: 100%;
  }

  .comment-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vmin;
    border-bottom: 2px solid gray;
  }

  .comment-buttons select {
    max-width: 100px;
    margin-bottom: 0;
  }

  .comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }