html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: #beedef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.navBar {
  margin: 0;
  padding: 1em 1.5em;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0 lightslategray;
  }

  .navBar p {
    margin: 0;
    display: inline;
  }

  .fa-sign-in-alt {
    font-size: 2em;
    color: black;
  }
  
  .fa-sign-out-alt {
    font-size: 2em;
    color: black;
}

.home-content {
  padding: 0 7vmin 5vmin 5vmin ;
  }

  #title {
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
  }

  #mvc-model-container, #routes-table-container{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 0 0 20px 20px;
    padding: 2vmin;
    }

    #mvc-model, #routes-table {
      width: 100%;
      max-width: 800px;
    }

    #photo-credit {
      font-size: 0.75em;
  }

  .app-intro {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
  }

  a {
    color: #00B7FF;
  }

  a:hover{
    cursor: pointer;
}

.main-container {
  text-align: center;
  margin: 5vmin;
  background-color: whitesmoke;
  border-radius: 50px;
  padding: 5vmin 15vmin 10vmin 15vmin;
  }

  #sub-title {
    font-size: 2em;
    font-family: 'Righteous', cursive;
  }

  select {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: whitesmoke;
    width: 100%;
    max-width: 400px;
    height: 2em;
    margin-bottom: 2em;
  }

  .main-btn {
    font-family: 'Righteous', cursive;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #333;
    padding: 0.5em 1.8em;
  }

  a.main-btn {
    font-size: 1.4em;
    text-decoration: none;
    box-shadow: inset 2px 2px rgba(255,255,255,0.4), inset -2px -2px rgba(0,0,0,0.6);
  }

  .go-button:hover {
      filter: brightness(150%)
  }
  .go-button {
      transform: translate(0, 0.3em)
  }

  #form-btn {
    font-size: 1.3em;
    margin-top: 7vmin;
}

#add-guide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
    padding: 5vmin;
  }

  .new-guide-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .inner-form-container {
    margin: 2vmin;
    }

  input {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: whitesmoke;
    width: 100%;
    max-width: 400px;
    height: 2em;
    margin-bottom: 2em;
  }

  #form-buttons-container {
    margin: 5vmin 0 2vmin 0;

}